<div class="container">
  <div class="page-title">
    <div class="row">
      <div class="col-lg-6">
        <h1>Page Title</h1>
      </div>
      <div class="col-lg-6 add-content">
        <ul class="list-inline pull-right">
          <li><button type="button" class="btn btn-primary">Edit</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
