<div class="public-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.992485647964!2d20.48704961593045!3d44.80134177909882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a82e72ba16d%3A0x69ff49fb3ccce1d9!2z0ILQsNC60L7QstCw0YfQutCwLCDQkdC10L7Qs9GA0LDQtCAxMTEyMA!5e0!3m2!1ssr!2srs!4v1487246846987"
          width="1170" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="page-body">
      <div class="row text-center">
          <div class="col-lg-4">
            <h3>Hours</h3>
            <p>Open 7 days a week 12pm to 9pm.</p>
          </div>
          <div class="col-lg-4">
            <h3>Location</h3>
            <p>
              1234 Djakovcka street<br/>
              Belgrade, Serbia<br/>
              +011 123 123 123<br/>
            </p>
          </div>
        <div class="col-lg-4">
            <h3>Reservations</h3>
            <p>For reservations, please call 604.123.1234. 24 hours notice required to cancel a reservation.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <%- partial("partial/_reservation-modal") %>
